$primary: #CB0001;
$secondary: #FFECE1;
$success: #005E54;
$success-light: #F5FFED;
$warning: #DDA02B;
$warning-light: #FFFFEA;
$danger: #DD2B2B;
$danger-light: #FFEAEA;
$white: #FFF;
$black: #000;
$default: $black;
$dark: #474747;
$purple: #6791FF;
$pink: #FF6F6F;
$yellow: #FFDD67;
$green: #99DD2B;
$wa: #E1FFC7;