footer{
	background-color: $secondary;
	padding: 33px 0;
	color: $white;
	position: relative;
	text-align: center;
	
	a{
		color: $white;

		&:hover{
			color: $primary;
		}
	}

	p{
		@extend %font-11;
		text-align: center;
		margin-bottom: 0;
	}
}